body {
    font-family: Arial, sans-serif;
    background-image:linear-gradient(rgba(169, 194, 170, 0.75), rgba(169, 194, 170, 0.75) ), url('fondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

.navbar {
    background-color: #449d44;
}

.navbar-brand, .navbar-nav .nav-link {
    color: #fff;
}

.jumbotron {
    background-image: url('fondo.jpeg');
    background-size: cover;
    color: #fff;
}

.product-card {
    box-sizing: content-box;
width: 100%;
border: solid hsl(225, 40%, 98%) 10px;
padding: 5px;
    text-align: center
}

.product-image-container {
    box-sizing: border-box;
    max-width: 60%;
    max-height: 60%; /* Ajusta la altura máxima según tus preferencias */
    text-align: center; /* Centra la imagen horizontalmente dentro del contenedor */
    margin: 0 auto; /* Centra el contenedor dentro de la tarjeta del producto */
}

.imagen{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.texto{
    box-sizing: content-box;
    margin: auto;
    padding-inline: 10px;
}


.footer {
    background-color: #449d44;
    color: #fff;
    padding: 20px 0;
}

.container-contacto{
    display: flex;
    background-color: #fff;
    height: 750px;
    width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-top: 150px;
    border-radius: 25px;
}

.form {
    padding: 30px 80px;
    width: 50%;
    display: flex;
    flex-direction: column;

}

.form h2{
    font-size: 45px;
    color: #449d44;
    font-weight: 600;
    margin-bottom: 25px;
}

.form p{
    font-size: 16px;
    color:rgb(4, 31, 13);
    margin-bottom: 25px;
}

.label {
    font-size: 15px;
    color: rgb(4, 31, 13);
    margin-bottom: 15px;
}

.box{
    border: 0;
    background-color: #dfdfdf;
    padding: 8px;
    border-radius: 25px;
    margin-bottom: 25px;
    outline-color: #449d44;
}



