body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #449d44;
}

.navbar-brand, .navbar-nav .nav-link {
    color: #fff;
}

.jumbotron {
    background-image: url('fondo.jpeg');
    background-size: cover;
    color: #fff;
    padding: 7px;
    margin: 10px;
    border: 10px; color: #f7faf7;
}

.product-card {
    box-sizing: content-box;
width: 100%;
border: solid hsl(225, 40%, 98%) 10px;
padding: 5px;
    text-align: center
}

.product-image-container {
    box-sizing: border-box;
    max-width: 60%;
    max-height: 60%; /* Ajusta la altura máxima según tus preferencias */
    text-align: center; /* Centra la imagen horizontalmente dentro del contenedor */
    margin: 0 auto; /* Centra el contenedor dentro de la tarjeta del producto */
}

.imagen{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.texto{
    box-sizing: content-box;
    margin: auto;
    padding-inline: 10px;
}


.footer {
    background-color: #449d44;
    color: #fff;
    padding: 20px 0;
}